img {
  display: flex;
  float: left;
  height: 40px;
  margin-right: 10px;
  margin-bottom: 10px;
}

.item {
  display: flex;
  flex-direction: column;

}

.info {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.field {
  display: flex;
  flex-direction: row;
  margin-right: 10px;
  font-size: .75rem;
}

.field img {
  float: none;
  height: 18px;
  min-width: 0;
  width: auto;
}